.logout-btn {
  width: auto;
  padding: 0;
  background: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: var(--color-primary);
  cursor: pointer;
  white-space: nowrap;
}

.logout-btn:hover {
  color: var(--color-secondary);
  cursor: pointer;
}
