.logout-btn {
  width: 5rem;
  padding: 0.2rem;
  background-color: white;
}

.logout-btn:hover {
  cursor: pointer;
}

@media (max-width: 350px) {
  .logout-btn {
    width: 4rem;
    padding: 0.15rem;
  }
}
